.single {
        margin-top: 1em;
        margin-bottom: 1em;
}

#store {
        font-family: 'Copperplate';
        text-align: center;
        background-color: #756A11;
}

#container {
  width:960px;
  margin: 0 auto;
  }
.title {
        font-family: 'Baskerville';
        font-weight: 'bold';
        font-size: 150%;
}

#nav {
        text-align: center;

}

.navlinks {
        font-family: 'arial';
        text-align: center;
        font-weight: 'bold';
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;

}

#content {
        text-align: center;
}

.category {
        font-family: 'Lucida Grande';
        font-size: 55%
}

.price {
        font-famly: 'Lucida Grande';
        text-size: 75%;
        font-style: 'italic';
}

img {
        max-height: 15%;
        max-width: 13%;
}

.selling_points {
        font-family: 'Lucida Grande';
        font-size: 90%;

}
#footer {
      text-align: center;
      width: 100%;
      overflow: auto
}
.footclan {
      border: 1px;
      width: 200px;
      height: 20px;
      float: left;
}
.blurb {
      padding: 3px
      border: 2px solid gray;
      text-align: center;
      margin-left: 15em;
      margin-right: 15em;
      margin-top: 5px;
}
